{% extends "base.html" %}
{%  load static %}

{% block content %}

<br>
<h1>{{ request.user.username }}'s Followers</h1>
<br>
<hr>
<br>
{% if user_profile %}
    {% for profile in user_profile.followed_by.all %}
<div class="card mb-3 border-0" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if profile.profile_img %}
        <img src="{{ profile.profile_img.url }}" class="img-fluid rounded-circle" alt="Profile Picture">
        {% else %}
        <img src="../media/images/profile_pics/default_pfp.png" class="img-fluid rounded-circle" alt="Profile Picture">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ profile.user.username }}</h5>
          <a class="card-text" href="{% url 'profile' profile.user.id %}">@{{ profile.user|lower }}</a>
          <br>
          <br>
          <p class="card-text mb-0"><small class="text-body-secondary ">Last Updated : {{ profile.last_updated }}</small></p>
          {% if profile in user_profile.follows.all %}
          <br>
          <a href="{% url 'unfollow' profile.user.id %}" class="btn btn-outline-danger">Unfollow</a>
          {% else %}
          <br>
          <a href="{% url 'follow' profile.user.id %}" class="btn btn-outline-info">Follow</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <hr>
<br>
{% endfor %}
{% endif %}
{% endblock %}