{% extends "base.html" %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
{% if user.is_authenticated %}
{% if profile %}
    <div class="container">
        <center>
            <h1>{{ profile.user }} 's Profile
                {% if request.user.id == profile.id %}
                <a href="{% url 'update_user' %}">
                    <small class="text-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </small>
                </a>
                {% endif %}
        </h1>
        </center>
        <br><br>
        <div class="row">
            <div class="col-8">
                <br><br>
            {% for swit in swits %}
            <div class="alert alert-info" role="alert">
            
                {{ swit.body }} <br><small class="text-secondary">{{ swit.create_at }}</small><br>
            </div>
            {% endfor %}
            <br>
            </div>
            <div class="col-4">
                <div class="text-center">
                    {% if profile.profile_img %}
                    <img src="{{ profile.profile_img.url }}" class="rounded-circle" alt="Profile Picture" width="250" height="250">
                    {% else %}
                    <img src="../media/images/profile_pics/default_pfp.png" class="img-fluid rounded-circle" alt="Profile Picture" width="250" height="250">
                    {% endif %}
                </div>
                <br>
                <div class="card text-center my-md-3">
                    <div class="card-header">
                        <strong>Followings</strong>
                    </div>
                    <div class="card-body">
                        {% for following in profile.follows.all %}
                        <a href="{% url 'profile' following.id %}">@{{ following }}</a><br>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-body-secondary">
                        As of {{ profile.last_updated }}
                    </div>
                </div>

                <br><br>
                <div class="card text-center">
                    <div class="card-header">
                        <strong>Followers</strong>
                    </div>
                    <div class="card-body">
                        {% for follower in profile.followed_by.all %}
                        <a href="{% url 'profile' follower.id %}">@{{ follower }}</a><br>
                        {% endfor %}
                        </div>
                    <div class="card-footer text-body-secondary">
                        As of {{ profile.last_updated }}
                    </div>
                    </div>
                <br><br>
                <form method="post">
                    {% csrf_token %}
                    {% if profile in user.profile.follows.all %}
                    <div class="text-center">
                        <button class="btn btn-outline-danger"  type="submit" name="follow" value="unfollow">Unfollow</button>
                    </div>
                    {% else %}
                    <div class="text-center">
                        <button class="btn btn-outline-info" type="submit" name="follow" value="follow">Follow</button>
                    </div>
                    {% endif %}
                </form>
                <br>
                <div class="text-center">
                    <a class="btn btn-secondary" href="{% url 'home' %}">Home</a>
                    <br>
                </div>
            </div>
        </div>
    </div>
    
    
{% endif %}
    
{% endif %}
{% endblock %}