{% extends "base.html" %}
{%  load static %}

{% block content %}

{% for profile in profiles %}
<br>
<div class="card mb-3 border-0" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if profile.profile_img %}
        <img src="{{ profile.profile_img.url }}" class="img-fluid rounded-circle" alt="Profile Picture">
        {% else %}
        <img src="../media/images/profile_pics/default_pfp.png" class="img-fluid rounded-circle" alt="Profile Picture">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ profile.user.username }}</h5>
          <a class="card-text" href="{% url 'profile' profile.user.id %}">@{{ profile.user|lower }}</a>
          <br>
          <br>
          <br>
          <p class="card-text mb-0"><small class="text-body-secondary ">Last Updated : {{ profile.last_updated }}</small></p>
        </div>
      </div>
    </div>
  </div>
<br>
<hr>
{% endfor %}
{% endblock %}