{% extends "base.html" %}
{%  load static %}

{% block content %}

{% for profile in profiles %}
<br>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'profile_pics/default_pfp.png' %}" class="img-fluid rounded-start" alt="Profile Picture">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ profile.user.username }}</h5>
          <a class="card-text" href="{% url 'profile' profile.user.id %}">@{{ profile.user|lower }}</a>
          <br>
          <br>
          <br>
          <p class="card-text mb-0"><small class="text-body-secondary ">Last Updated : {{ profile.last_updated }}</small></p>
        </div>
      </div>
    </div>
  </div>


<br>
{% endfor %}
{% endblock %}