{% extends "base.html" %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-info d-flex align-items-center" role="alert">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 align-self-center">
                            {% if swit.user.profile.profile_img %}
                                <img src="{{ swit.user.profile.profile_img.url }}" class="rounded-circle" alt="Profile Picture" width="50" height="50">
                            {% else %}
                            <img src="../media/images/profile_pics/default_pfp.png" class="rounded-circle bg-light" alt="Profile Picture" width="50" height="50">
                            {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="container align-self-center"> {{ swit.body }}<br>
                            <small class="text-muted">({{ swit.create_at }} by <a href="{% url 'profile' swit.user.id %}">@{{ swit.user }}</a>)</small><br>
                        </div>
                    </div>
                    <div class="col-md-3 container align-self-center">
                        <small class="text-muted">{{ swit.num_of_likes }} - Likes</small>
                        &nbsp;&nbsp;
                        {% if user in swit.likes.all %}
                        <a class="text-info" href="{% url 'swit_like' swit.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                              </svg></a>
                        {% else %}
                        <a class="text-info" href="{% url 'swit_like' swit.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                              </svg></a>
                        {% endif %}
                        &nbsp;&nbsp;
                        <a class="text-info" href="{% url 'swit_like' swit.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                              </svg>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-4">
                <div class="text-center">
                    {% if profile.profile_img %}
                    <img src="{{ profile.profile_img.url }}" class="rounded-circle" alt="Profile Picture" width="250" height="250">
                    {% else %}
                    <img src="../media/images/profile_pics/default_pfp.png" class="img-fluid rounded-circle" alt="Profile Picture" width="250" height="250">
                    {% endif %}
                </div>
                <br>
                <div class="card text-center my-md-3">
                    <div class="card-header">
                        <strong>Followings</strong>
                    </div>
                    <div class="card-body">
                        {% for following in profile.follows.all %}
                        <a href="{% url 'profile' following.id %}">@{{ following }}</a><br>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-body-secondary">
                        As of {{ profile.last_updated }}
                    </div>
                </div>

                <br><br>
                <div class="card text-center">
                    <div class="card-header">
                        <strong>Followers</strong>
                    </div>
                    <div class="card-body">
                        {% for follower in profile.followed_by.all %}
                        <a href="{% url 'profile' follower.id %}">@{{ follower }}</a><br>
                        {% endfor %}
                        </div>
                    <div class="card-footer text-body-secondary">
                        As of {{ profile.last_updated }}
                    </div>
                    </div>
                <br><br>
                <form method="post">
                    {% csrf_token %}
                    {% if profile in user.profile.follows.all %}
                    <div class="text-center">
                        <button class="btn btn-outline-danger"  type="submit" name="follow" value="unfollow">Unfollow</button>
                    </div>
                    {% else %}
                    <div class="text-center">
                        <button class="btn btn-outline-info" type="submit" name="follow" value="follow">Follow</button>
                    </div>
                    {% endif %}
                </form>
                <br>
                <div class="text-center">
                    <a class="btn btn-outline-info" href="{% url 'home' %}">Home</a>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>

{% endblock %}