{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<br>
<div class="col-md-6 offset-md-3">
    <h1>Change Password</h1>
    <br><br>
    <form method="post" action="{% url 'update_password' pk %}">
        {% csrf_token %}
        {{ form.as_p }}<br>
        <button type="submit" class="btn btn-danger">Change Password</button>
        <a class="btn btn-outline-info" href="{% url 'update_user' %}">Back To Profile</a>
        </form>

</div>
<br>

{% else %}

<center>
    <br><br>
    <h3>You Have To Register Or Login</h3>
    <br><br>
    <a class="btn btn-outline-info" href="{% url 'register' %}">Register</a>
    <a class="btn btn-info" href="{% url 'login' %}">Login</a>
</center>

{% endif %}

{% endblock %}